.sidenav {
    width: 190px;
        height: -webkit-fill-available;
    position: fixed;
    z-index: 1;
    top: 20px;

    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.app-content {
    margin-left: 256px;
    /* Same width as the sidebar + left position in px */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}